<footr>
    <div class="footer ">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <a href="#" class="logo_footer"> <img src="/images/imagotipo-amarillo@0.5x.png" alt="#"/></a>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                <div class="address">
                  <h3>Dirección </h3>
                  <ul class="loca">
                    <li>
                      <a href="#"></a>It is a long established fact 
                      <br>that a reader will be  </li>
                      <li>
                        <a href="#"></a>(+71 1234567890) </li>
                        <li>
                          <a href="#"></a>drgatas@gmail.com</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="address">
                        <h3>Redes Sociales</h3>
                        <ul class="Menu_footer">
                          <li class="active"><a href="https://facebook.com/DrGatas">Facebook</a> </li>
                          <li><a href="https://instagram.com/doctorgatas">Instagram</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footr>