<form action="/rastreo" method="POST" class="Seguimiento">
    <input class="Seguimiento_fom" placeholder="Apellido" type="text" name="apellido">
    <input class="Seguimiento_fom" placeholder="# de pedido" type="text" name="pedido">
    <button class="Search_btn">Buscar</button>
</form>